
{%load static%}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <title>TALLER MAKWEEN</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="js/bootstrap.min.js">
  <link rel="stylesheet" href="{% static 'css/interfaz.css' %}">
</head>

<body>
  <header class="header">
    <div class="logo">
      <img src="{%static 'img/logo.jpg' %}" alt="logo de la pagina">

    </div>
    
    <nav >
     
      <ul class="nav-links">
        <li><a href="/..">INICIO</a></li>
        <li><a href="mecanicos">MECANICOS</a></li>
        <li><a href="servicios">SERVICIOS</a></li>
        <li><a href="atenciones">ATENCIONES</a></li>
        <li><a href="agregar">VEHICULOS</a></li>
      </ul>
    
    </nav>
    <a href="login_acceso" class="btn"><button>REGISTRAR</button></a>
    <a onclick="openNav()" class="menu"><button>MENU</button></a>
    <div class="overlay" id="mobile-menu">
      <a onclick="closeNav()" href="" class="close">&times;</a>
      <div class="overlay-content">
        <a href="/..">INICIO</a>
        <a href="mecanicos">MECANICOS</a>
        <a href="servicios">SERVICIOS</a>
        <a href="atenciones">ATENCIONES</a>

        

      </div>
    </div>





  </header>

  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="servicios">
          <img src="{%static 'img/carrusel1.jpg' %}" class="d-block w-100" alt="...">
          </a>
      </div>
      <div class="carousel-item">
        <img src="{%static 'img/carrusel2.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{%static 'img/carrusel3.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <section class="mecanicos">
    <div class="tittle">
      <h1>NUESTROS SERVICIOS</h1>

    </div>
    <br>
    <div class="row">
      <div class="col">
        <img class="imagenesServicios" src="{%static 'img/cambioMotor.jpg' %}" alt="imagen del cambio de motor">
        <br>
        <h4>CAMBIOS DE MOTOR</h4>
        <P>El cambio de motor es una tarea muy complicada, contamos con los elementos necesarios para darle la confianza
          a nuestros clientes y poder entregar un servicio de calidad</P>
        <p>El precio del servisio parte desde los 500.000 pesos chilenos, esto dependera del vehiculo</p>
        <p></p>
      </div>
      <div class="col">
        <img class="imagenesMecanicos" src="{%static 'img/cambioAceite.jpg' %}" alt="imagen de cambio de aceite">
        <br>
        <h4>CAMBIOS DE ACEITE</h4>
        <P>En nuestro taller mecanico cuidamos la integridad de su vehiculo, el cambio de aceite es un proceso realmente
          importante por lo cual nuestro taller tienen los mejores productos para usted </P>
        <p>El precio del servicio parte desde los 41.000 pesos, dependiendo del producto que usted elija</p>
      </div>
      <div class="col">
        <img class="imagenesServicios" src="{%static 'img/cambioNeumaticos.jpg' %}" alt="imagen del cambio de neumaticos">
        <br>
        <h4>CAMBIOS DE NEUMATICOS</h4>
        <P>El cambio de neumaticos es muy importante para la seguridad al momento de manejar, siempre contamos con los
          mejores neumaticos a disposicion de nuestros clientes</P>
        <p>El precio del servisio parte desde los 12.000 pesos, esto es por cada neumatico que se cambie</p>
      </div>
      <div class="col">
        <img class="imagenesMecanicos" src="{%static 'img/cambioLuces.jpg' %}" alt="imagen de cambio LUCES">
        <br>
        <h4>CAMBIOS DE LUCES</h4>
        <P>El cambio de luces es un proceso muy delicado, para el cual nuestros mecanicos cuentan con todos los
          materiales para poder brindar a nuestros clientes el mejor sevicio posible </P>
        <p>El precio del servicio parte desde los 41.000 pesos, este precio depende del foco que usted necesite cambiar</p>
      </div>
      <div class="col">
        <img class="imagenesMecanicos" src="{%static 'img/carWash.jpg' %}" alt="IMAGEN CAR WASH">
        <br>
        <h4>CAR WASH</h4>
        <P>Nuestro servicio CAR WASH es uno de los mejores del pais, contamos con una cabina totalmente especializada para el lavado de autos</P>
        <p>El precio del servicio parte desde los 50.000 pesos, dependiendo del producto que usted elija</p>
      </div>
    </div>
    </div>


  </section>






  <script type="text/javascript" src="js/nav.js"></script>
</body>

</html>