@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto:ital,wght@1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 20px;

}



body {
    background: #1e130c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9a8478, #1e130c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header{
    background-color:#fc4a1a ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

header.logo{
    cursor: pointer;
    
}
header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

header .nav-links li{
    display: inline-block;
    padding: 0 20px;

}
.header .nav-links li:hover,
.overlay a:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 20px;
    color: #1e130c;
    
}

header .nav-links li a:hover{
    color: #f7b733;
}

.menu{
    display: none;
}

.header .btn button,
.header .menu button{

    font-weight: 700;
    color: #1e130c;
    padding: 9 25px;
    background: #f7b733;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

.header .btn button:hover,
.header .menu button:hover{
    background-color: chocolate;
    transform: scale(1.1);
}

@media screen and (max-width:1320px){
    .nav-links, .btn{
        display: none;
    }
    .menu{
        display: inherit;
    }
}

/*nav.js*/

.header a{
    text-decoration: none;
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: chocolate;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0;
    font-weight: 700;
    color: #1e130c;
}

.header .overlay a:hover,
.header .overlay a:focus{
    color: darkgrey;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px){
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    
    }
} 

h3{
    text-align: center;
    color: #fc4a1a;
    font-size: 30px;
}

.subtitulosSobreNosotros{
    color:white;
    display: flex;
    font-size: 20px;
    text-align: justify;
}

.parrafo-sobreNosotros{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(214, 192, 68);
    display: flex;
    font-size: 18px;
    text-align: left;  
}

.btn{

    color:white;
    display: flex;
    font-size: 20px;
    text-align: justify;

}

/*seccion mecanicos*/

.imagenesMecanicos{
    height: 250px;
    width: auto;

}

.tittle{
    text-align: center;
    font-size: 4vmin;
}

section{
    width: 80%;
    margin: 10%;
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;

}


/*servicipos*/

.imagenesServicios{
    height: 250px;
    width: auto;

}


/*atenciones*/

.atenciones{
   display: flex;
   flex-direction: column;
   align-items: center;
   
    
}

a{
    text-decoration: none;
}
